<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>icici-decryption</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>jwt</display-name>
    <servlet-name>jwt</servlet-name>
    <servlet-class>benefit.controller.jwt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jwt</servlet-name>
    <url-pattern>/jwt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JWTCrypto</display-name>
    <servlet-name>JWTCrypto</servlet-name>
    <servlet-class>benefit.controller.JWTCrypto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JWTCrypto</servlet-name>
    <url-pattern>/JWTCrypto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JWTSignature</display-name>
    <servlet-name>JWTSignature</servlet-name>
    <servlet-class>benefit.controller.JWTSignature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JWTSignature</servlet-name>
    <url-pattern>/JWTSignature</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JWTDecryption</display-name>
    <servlet-name>JWTDecryption</servlet-name>
    <servlet-class>benefit.controller.JWTDecryption</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JWTDecryption</servlet-name>
    <url-pattern>/JWTDecryption</url-pattern>
  </servlet-mapping>
</web-app>